<div class="container p-3">
  <div class="container py-5">
    <div class="d-flex justify-content-end mb-3">
      <a class="btn btn-danger" (click)="logout()">Logout</a>
    </div>
  <h3 class="my-5 text-center"><b>O - R - G ____ C - R - U - D</b></h3>
  <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()" class="mb-4" />
  <table id="table2" class="display" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th>OrganizationId</th>
      <th>Gender</th>
      <!-- <th>Action</th> -->
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
</div>

